.p-archive-blog {
  @extend %container-border;
  @extend %wrapper_X_M;
  @include mq(LG_only) {
    &_wrapper {
      display: flex;
      > * {
        &:nth-child(1) {
          width: 710px;
        }
        &:nth-child(2) {
          width: calc(100% - 710px);
          padding-left: 100px;
        }
      }
    }
    &_inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      > * {
        width: 324px;
      }
    }
  }
}